In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Membuat list

 ## inisialisasi suhu anggota keluarga

suhu1 = 21

suhu2 = 20

suhu3 = 22

 ## simpan dalam list

suhu_keluarga = [suhu1, suhu2, suhu3]

In [ ]:

suhu_keluarga_ucup = ['ayah ucup', 19, 'ucup', 19, 'ibu ucup', 20] #List bisa berisi tipe data apapun dan tidak harus semua data berisi tipe data yang sama.

suhu_keluarga_boy = ['istri boy', 20, 'anak boy', 18, 'istri kedua boy', 21]

# membuat list dalam list dan dicampur dengan data boolean

suhu_keluarga = [suhu_keluarga_ucup, suhu_keluarga_boy, True]

In [ ]:
# Akses Data List

## Membuat data list

tinggi_badan = [
                162, # index 0
                177, # index 1
                182, # index 2
                150, # index 3
                166, # index 4
                ]
## Subsetting list

print(tinggi_badan[0]) #print data pada list dengan indeks pertama atau ke-0
print(tinggi_badan[-2]) #print data pada list dengan urutan kedua dari belakang
print(tinggi_badan[:4]) #print data pada list dari indeks ke-0 sampai ke-4
print(tinggi_badan[2:5]) #print data pada list dari indeks ke-2 hingga ke-4

162
150
[162, 177, 182, 150]
[182, 150, 166]

In [ ]:
# Manipulasi List

print(suhu_keluarga_ucup) #List sebelum dilakukan manipulasi

## dilakukan manipulasi list yg dimulai dari indeks ke-2 dari belakang
suhu_keluarga_ucup[-2:] = ['mamah ucup', 22] 

print(suhu_keluarga_ucup)

## dilakukan penambahan data pada list dengan menggunakan operator "+"
suhu_keluarga_ucup = suhu_keluarga_ucup + ['adik ucup', 20]

print(suhu_keluarga_ucup)

## selain menggunakan operator "+", dapat juga digunakan method append() dan insert() untuk menambahkan data pada list

murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
print(murid)

###append() akan menambahkan data ke dalam list diurutan paling akhir
murid.append('Rizky')
print(murid)

###insert() akan menambahkan data ke dalam list sesuai dengan urutan/indeks yang dimaksud
murid.insert(2, 'Ahmad')
print(murid)

[22, 'adik ucup', 20]
[22, 'mamah ucup', 22]
[22, 'mamah ucup', 22, 'adik ucup', 20]
['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani', 'Rizky']
['Ayu', 'Bagus', 'Ahmad', 'Fajar', 'Cahyo', 'Ani', 'Rizky']

In [ ]:
## Menghapus data/nilai di dalam sebuah list
print(suhu_keluarga_ucup)

print("\nMenggunakan del:")

### del()
del(suhu_keluarga_ucup[0]) #dilakukan penghapusan nilai/data pada indeks ke-0 list suhu_keluarga_ucup, sehingga data "ayah" sudah tidak ada lagi di dalam list
print(suhu_keluarga_ucup)

print("\nMenggunakan pop:")
### pop()
print(murid)
murid.pop(2) #menghapus data pada indeks ke-2 list murid
print(murid) 
murid.pop() #jika method/fungsi pop tidak diberi nilai indeks, maka secara default akan menghapus data pada indeks terakhir
print(murid)

print("\nMenggunakan remove:")
### pop()
murid.remove('Cahyo') #remove digunakan untuk menghapus data pada list yang nilainya sama dengan nama yg dimasukkan pada fungsi remove
print(murid)

[22, 'mamah ucup', 22, 'adik ucup', 20]

Menggunakan del:
['mamah ucup', 22, 'adik ucup', 20]

Menggunakan pop:
['Ayu', 'Bagus', 'Ahmad', 'Fajar', 'Cahyo', 'Ani', 'Rizky']
['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani', 'Rizky']
['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']

Menggunakan remove:
['Ayu', 'Bagus', 'Fajar', 'Ani']

In [ ]:
## Fungsi lain pada list
primes = [7, 5, 2, 3]
keluarga_ucup = ['mamah', 'papah', 'ucup', 'adek ucup', 'kaka ucup']
### len()
#Fungsi len digunakan untuk mengetahui panjang dari sebuah list
print(len(keluarga_ucup))

### sorted()
# Fungsi sorted digunakan utk melakukan sorting/pengurutan pada sebuah list
print("\n",sorted(keluarga_ucup)) #sort by alphabet ascending
print("\n",sorted(primes)) #sort by number ascending

### sum()
# Digunkan untuk menjumlahkan nilai 
print("\nJumlah nilai dari list primes: ",sum(primes))

### copy()
# Digunakan untuk menyalin suatu list ke dalam list baru
a = [1,2,3,4,5]
b = a.copy()
print("\nFungsi Copy(): ")
print(a)
print(b)
#manipulasi data yang dilakukan pada list b tidak akan merubah nilai dari list a
b.append(6)
print("\n",a)
print(b)

5

 ['adek ucup', 'kaka ucup', 'mamah', 'papah', 'ucup']

 [2, 3, 5, 7]

Jumlah nilai dari list primes:  17

Fungsi Copy():
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

 [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
# List Comprehension

number = [1,5,10,6,7,8,12] #list asal
result = [i for i in number if i>7] #list baru dibuat dengan looping untuk mencari nilai > 7 pada list number. untuk kemudian nilai yang memenuhi syarat > 7 akan dimasukkan ke list result

print("\n",number)
print("Hasil dari List Comprehension: ",result)

 [1, 5, 10, 6, 7, 8, 12]
Hasil dari List Comprehension:  [10, 8, 12]

In [50]:
# Tuple
  # Sebuah tupel adalah urutan objek Python yang tidak berubah. 
  #Tupel adalah urutan, seperti daftar. Perbedaan utama antara tupel dan daftarnya adalah bahwa tupel tidak dapat diubah tidak seperti List Python. 
  #Tupel menggunakan tanda kurung, sedangkan List Python menggunakan tanda kurung siku.

## Inisiasi tuple
tuple_01 = (1,2,3,4)

tuple_02 = (a,) #inisiasi tuple meskipun hanya berisi 1 nilai, tetap harus diakhiri dengan tanda ","

## Mengakses tuple

###mengakses index positif (dari kiri)
print(tuple_01[1])

###mengakses index negatif (dari kanan)
print(tuple_01[-1])

## Mengubah Tuple
   # Tidak seperti list kita tidak dapat mengubah atau menambah tuple. Misal kita menggunakan tuple_01. Kita akan berusaha mengubah anggota tuple.

  # operasi berikut ini tidak bisa dilakukan, karena tuple tidak bisa diubah datanya
  # tuple_01[0] = 2 

## Memotong dan menduplikasi Tuple

tuple_03 = tuple_01[0:2] #menduplikasi tuple yang berisikan data tuple_01 dari indeks ke-0 sampai ke-1
tuple_04 = tuple_01[:] #menduplikasi isi tuple_01 dan menyimpannya pada tuple_04

print("\nDuplikasi Tuple:")
print(tuple_03)
print(tuple_04)

# Menginisiasi multi-variabel menggunakan tuple

tuple_01 = (1,2,3,4)

#sekarang akan kita masukkan kedalam 4 variabel dikarenakan tuple tersebut memiliki 4 anggota
a, b, c, d = tuple_01 #jumlah variabel harus sama dengan banyaknya nilai pada tuple

print("\nAssign Multi-variabel menggunakan tuple:")
print(a, b, c, d)
print(type(a), type(b), type(c), type(d))

#Kenapa Menggunakan Tuple?
#Dengan semua keterbatasan yang dimiliki mungkin akan timbul pertanyaan, kenapa harus tuple dibandingkan list. Ada tiga poin utama yang bisa dijelaskan,

#1. Karena strukturnya lebih sederhana, struktur data tuple memakan memori lebih sedikit dibandingkan dengan list. Untuk data yang berukuran besar ini akan sangat menguntungkan.
#2. Memori yang lebih sedikit juga mempengaruhi waktu proses dari tuple. Tuple memiliki waktu proses yang relatif lebih singkat daripada list.
#3. Anggota yang tidak dapat diubah membuat tuple menjadi pilihan saat kita ingin menggunakannya untuk menyimpan suatu parameter yang tidak boleh berubah nilainya.

2
4

Duplikasi Tuple:
(1, 2)
(1, 2, 3, 4)

Assign Multi-variabel menggunakan tuple:
1 2 3 4
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [6]:
# Set

  # Set atau dalam bahasa Indonesia bisa disebut himpunan, merupakan struktur data yang dapat memiliki satu atau lebih anggota didalamnya. Terdapat 2 perbedaan utama antara set dengan list atau tuple, yaitu:
  ## 1. Set tidak memiliki koordinat/index tiap anggotanya, jadi untuk set posisi anggota dianggap tidak penting.
  ## 2. Set tidak dapat memiliki lebih dari satu anggota dengan nilai yang sama

## Inisiasi Set

set_01 = {4,5,6,2} # Inisiasi set menggunakan {}

print("Set 1: ",set_01)

set_02 = set() # Inisiasi set menggunakan method set(), namun blm dilakukan assign value/nilai ke dalam set
set_03 = set([2,1,4,3]) #Inisiasi set menggunakan method set()

print("Set 2: ",type(set_02))
print("Set 3: ",set_03)

## Mengakses Set

 # Berikut ini akan muncul error karena set tidak memiliki indeks.
#print(set_03[1])

## Menghapus anggota set

#menggunakan discard()
set_01.discard(4) 
print("discard(4): ",set_01)

#menggunakan remove()
set_01.remove(2)
print("remove(2): ",set_01)

## Mengubah dan menambah anggota set

set_04 = {2,3,4,5,6}
print("\nSebelum ditambahkan: ",set_04)
set_04.add(1) # Digunakan untuk menambahkan 1 anggota ke set
print("Sesudah ditambahkan: ",set_04)

print("\nSebelum diupdate: ",set_04)
set_04.update([4,7,8]) # Digunakan untuk menambahkan lebih dari satu anggota ke dalam set
print("Sesudah diupdate: ",set_04)


## Operasi pada set

set_A = {1,2,3,4}
set_B = {3,4,5,6}

### Union
 # Union dapat dilakukan dengan menggunakan tanda "|" atau metode union()
print("\nUnion:")
print(set_A|set_B)
print(set_A.union(set_B))

### Intersection
 # Intersection dapat dilakukan dengan menggunakan tanda "&" atau menggunakan metode intersection()
print("\nIntersection:")
print(set_A & set_B)
print(set_A.intersection(set_B))

### Difference
  # Difference dapat dilakukan dengan menggunakan tanda "-" atau menggunakan metode difference().
print("\nDifference:")
print(set_A - set_B)
print(set_A.difference(set_B))
### Symmetric Difference
  # symmetric difference dapat dilakukan dengan menggunakan tanda "^" atau menggunakan metode symmetric_difference().
print("\nSymmetric Difference:")
print(set_A ^ set_B)
print(set_A.symmetric_difference(set_B))

Set 1:  {2, 4, 5, 6}
Set 2:  <class 'set'>
Set 3:  {1, 2, 3, 4}
discard(4):  {2, 5, 6}
remove(2):  {5, 6}

Sebelum ditambahkan:  {2, 3, 4, 5, 6}
Sesudah ditambahkan:  {1, 2, 3, 4, 5, 6}

Sebelum diupdate:  {1, 2, 3, 4, 5, 6}
Sesudah diupdate:  {1, 2, 3, 4, 5, 6, 7, 8}

Union:
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

Intersection:
{3, 4}
{3, 4}

Difference:
{1, 2}
{1, 2}

Symmetric Difference:
{1, 2, 5, 6}
{1, 2, 5, 6}

In [12]:
# Dictionary

  # Inisiasi
numbers = {'one':1, 'two':2, 'three':3} # "one" merupakan key dan 1 adalah value
  
  # Mengakses Dictionary
print(numbers['one'])
  
  # Mengubah value pada Dictionary
numbers['one'] = 'satu' # mengubah value dari key one yang sebelumnya 1 menjadi satu
print(numbers)

  # Untuk mengakses/mencetak data dari dictionary, dapat juga digunakan looping
print("\nLooping untuk mencetak isi dari Dict numbers:")
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

  # Jika kita ingin melakukan iterasi terhadap valuenya saja, maka kita bisa gunakan:  
print("\nMencetak value dari Dict numbers dengan iterasi/looping:")
for key in numbers.values():
    print("{}".format(key))

1
{'one': 'satu', 'two': 2, 'three': 3}

Looping untuk mencetak isi dari Dict numbers:
one = satu
two = 2
three = 3

Mencetak value dari Dict numbers dengan iterasi/looping:
satu
2
3